.crazy-emoji-create-room-modal {
    display: flex;
    flex-direction: column;
    width: 686px;
    height: 778px;
    max-width: calc(100vw - 60px);
    max-height: calc(100vh - 60px);
    border-radius: 30px;
    background: var(--crazy-emoji-background-secondary);
    box-shadow: 0px 7px 8px 0px #00000040;
    overflow: hidden;
    .crazy-emoji-create-room-modal-header {
        display: flex;
        width: 100%;
        height: 200px;
        background-image:
            linear-gradient(
                rgba(0, 0, 0, .4) 0%,
                rgb(from var(--crazy-emoji-background-secondary) r g b / 0.2) 20%,
                rgb(from var(--crazy-emoji-background-secondary) r g b / 0.4) 40%,
                rgb(from var(--crazy-emoji-background-secondary) r g b / 0.6) 60%,
                rgb(from var(--crazy-emoji-background-secondary) r g b / 0.8) 70%,
                rgb(from var(--crazy-emoji-background-secondary) r g b / 0.9) 80%,
                rgb(from var(--crazy-emoji-background-secondary) r g b / 0.95) 90%,
                var(--crazy-emoji-background-secondary) 100%
            ),
            var(--background-image);
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        .crazy-emoji-create-room-modal-header-title {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            gap: 12px;
            width: 100%;
            max-height: 100%;
            padding: 20px 20px 0 20px;
            .title-text {
                font-family: var(--crazy-emoji-text-font-family);
                font-weight: 600;
                font-size: 43px;
                line-height: 37px;
                &.primary {
                    color: var(--crazy-emoji-text-primary);
                }
                &.secondary {
                    color: #BC3D3D;
                }
            }
        }
    }
    .crazy-emoji-create-room-modal-content {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 100%;
        max-height: calc(100% - 200px);
        padding: 30px 20px 20px 20px;
        box-sizing: border-box;
        .room-settings-block {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 85px;
        }
    }
}