:host {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.game-round-results {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    min-height: 0;
    gap: 25px;
    .game-round-results-header {
        font-family: var(--crazy-emoji-text-font-family);
        font-weight: 700;
        font-size: 48px;
        line-height: 60px;
        color: var(--crazy-emoji-text-primary);
        text-align: center;
    }
    .game-round-results-title {
        font-family: var(--crazy-emoji-text-font-family);
        font-weight: 700;
        font-size: 72px;
        line-height: 65px;
        color: var(--crazy-emoji-text-primary);
        text-align: center;
    }
    .game-round-results-scoreboard {
        display: flex;
        flex-grow: 1;
        width: 100%;
        min-height: 0;
        overflow: hidden;
        .game-round-results-scoreboard-content {
            display: flex;
            flex-direction: column;
            gap: 37px;
            width: 100%;
            .game-round-results-scoreboard-row {
                display: flex;
                flex-direction: row;
                gap: 20px;
                padding: 16px 28px;
                border-radius: 30px;
                background: #A9556299;
                .game-round-results-scoreboard-row-place {
                    display: flex;
                    justify-content: center;
                    width: 68px;
                    height: 68px;
                    border-radius: 100%;
                    &.gold {
                        background: #FFBF0A99;
                    }
                    &.silver {
                        background: #CCCCCCB2;
                    }
                    &.bronze {
                        background: #F5A23DB2;
                    }
                    &:not(.gold, .silver, .bronze) {
                        background: #61272DB2;
                    }
                    .game-round-results-scoreboard-row-place-number {
                        font-family: var(--crazy-emoji-text-font-family);
                        font-weight: 700;
                        font-size: 40px;
                        line-height: 68px;
                        color: var(--crazy-emoji-text-primary);
                    }
                }
                .game-round-results-scoreboard-row-user {
                    font-family: var(--crazy-emoji-text-font-family);
                    font-weight: 600;
                    font-size: 40px;
                    line-height: 68px;
                    color: var(--crazy-emoji-text-primary);
                }
                .game-round-results-scoreboard-row-guess {
                    display: flex;
                    flex-grow: 1;
                    min-width: 0;
                    font-family: var(--crazy-emoji-text-font-family);
                    font-weight: 600;
                    font-size: 40px;
                    line-height: 68px;
                    color: #61272D;
                }
                .game-round-results-scoreboard-row-points {
                    display: flex;
                    border-radius: 30px;
                    padding: 10px 18px;
                    background: #61272DB2;
                    .game-round-results-scoreboard-row-points-number {
                        font-family: var(--crazy-emoji-text-font-family);
                        font-weight: 600;
                        font-size: 40px;
                        line-height: 48px;
                        color: var(--crazy-emoji-text-primary);
                    }
                }
            }
        }
    }
}