:host {
    height: 100%;
    overflow: hidden;
}

.crazy-emoji-sidebar-friends {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    height: 100%;
    padding: 19.5px;
    border-radius: 25px;
    background: var(--crazy-emoji-background-secondary);
    box-sizing: border-box;
    .friends-list {
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 100%;
        overflow: auto;
    }
    .sidebar-friends-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 26px;
        height: 22px;
        font-size: 20px;
        color: var(--crazy-emoji-text-primary);
        transition: color .1s ease-in-out;
        cursor: pointer;
        &:hover {
            color: var(--crazy-emoji-btn-primary-background);
        }
    }
}