:host {
    width: 100%;
    height: 100%;
}

.crazy-emoji-home-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    .crazy-emoji-home-page-block {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
        .home-page-block-header {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            .home-page-block-header-title {
                font-family: var(--crazy-emoji-text-font-family);
                font-weight: 500;
                font-size: 26px;
                line-height: 35px;
                color: var(--crazy-emoji-text-primary);
            }
            .home-page-block-header-subtitle {
                font-family: var(--crazy-emoji-text-font-family);
                font-weight: 500;
                font-size: 15px;
                line-height: 17px;
                color: var(--crazy-emoji-text-secondary);
                cursor: pointer;
                transition: color .15s ease-in-out;
                &:hover {
                    color: var(--crazy-emoji-text-secondary-hover);
                }
            }
        }
        .category-widgets {
            display: flex;
            flex-direction: row;
            gap: 30px;
            width: 100%;
        }
    }
}