:host {
    width: 100%;
}

.crazy-emoji-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    &__left-panel {
        display: flex;
        align-items: center;
        .crazy-emoji-navbar-title {
            display: flex;
            flex-direction: row;
            gap: 6px;
            .crazy-emoji-navbar-title-text {
                font-family: var(--crazy-emoji-text-font-family);
                font-weight: 600;
                font-size: 33px;
                line-height: 42px;
                &.primary {
                    color: var(--crazy-emoji-text-primary);
                }
                &.secondary {
                    color: var(--crazy-emoji-text-secondary);
                }
            }
        }
    }
    &__right-panel {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        padding: 7px 10px;
        border-radius: 13px;
        background: var(--crazy-emoji-background-secondary);
        .navbar-btns {
            display: flex;
            flex-direction: row;
            .navbar-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 25px;
                height: 25px;
                padding: 5px;
                border-radius: 100%;
                transition: background .1s ease-in;
                &:hover {
                    background: var(--crazy-emoji-btn-primary-background);
                }
                .navbar-btn-icon {
                    color: var(--crazy-emoji-text-primary);
                }
            }
        }
    }
}