<div
    class="crazy-emoji-category-widget"
    [style.--background-image]="'url(' + category.image + ')'">
    <div class="crazy-emoji-category-widget-btns">
        <app-button
            [icon]="SelectCategoryBtnIcon"
            [size]="ButtonSize.Small"
            (onClick)="onCreateRoomClick()">
        </app-button>
    </div>
    <div class="crazy-emoji-category-widget-text">
        <span class="crazy-emoji-category-widget-name">{{ category.name }}</span>
        <span class="crazy-emoji-category-widget-description">{{ category.description }}</span>
    </div>
</div>