:host {
    width: 100%;
}

.crazy-emoji-input-field-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    &.disabled {
        opacity: .5;
        pointer-events: none;
    }
    .crazy-emoji-input-field-title {
        font-family: var(--crazy-emoji-text-font-family);
        font-weight: 600;
        font-size: 15px;
        line-height: 23px;
        width: 100%;
        margin-bottom: 8px;
        color: var(--crazy-emoji-text-primary);
        overflow-wrap: anywhere;
    }
    .crazy-emoji-input-field-subtitle {
        font-family: var(--crazy-emoji-text-font-family);
        font-weight: 500;
        font-size: 11px;
        line-height: 17px;
        width: 100%;
        margin-top: 8px;
        color: var(--crazy-emoji-text-primary);
        overflow-wrap: anywhere;
    }
    .crazy-emoji-input-field {
        display: flex;
        flex-direction: row;
        gap: 10px;
        padding: 10px;
        border-radius: 10px;
        transition: all .2s ease-in-out;
        &.primary {
            background: #8E6568;
            &:hover {
                background: #775254;
            }
            &.focused {
                outline: 2px solid #8E6568;
                outline-offset: 3px;
            }
        }
        &.secondary {
            background: #61272D;
            &:hover {
                background: #552228;
            }
            &.focused {
                outline: 2px solid #61272D;
                outline-offset: 3px;
            }
        }
        input {
            font-family: var(--crazy-emoji-text-font-family);
            font-weight: 500;
            font-size: 14px;
            line-height: var(--line-height);
            width: 100%;
            border: 0;
            margin: 0;
            padding: 0;
            background: transparent;
            color: var(--crazy-emoji-text-primary);
            &:focus, &:focus-visible {
                outline: none;
            }
            &::placeholder {
                color: var(--crazy-emoji-text-primary);
            }
            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus,
            &:-webkit-autofill:active {
                -webkit-text-fill-color: var(--crazy-emoji-text-primary) !important;
                transition: background-color 5000s ease-in-out 0s;
            }
        }
        .crazy-emoji-input-field-icons {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-grow: 1;
            gap: 5px;
            min-height: 0;
            font-size: 16px;
            color: var(--crazy-emoji-text-primary);
        }
    }
}