<div class="crazy-emoji-sidebar-navigation">
    <div class="page-logo">
        <i class="fa-solid fa-icons"></i>
    </div>
    <div class="sidebar-btns hide-scrollbar">
        <div class="sidebar-btn">
            <i class="fa-solid fa-house"></i>
        </div>
        <div class="sidebar-btn">
            <i class="fa-solid fa-gamepad"></i>
        </div>
        <div class="sidebar-btn">
            <i class="fa-solid fa-user-group"></i>
        </div>
        <div class="sidebar-btn">
            <i class="fa-solid fa-trophy"></i>
        </div>
        <div class="sidebar-btn">
            <i class="fa-solid fa-right-from-bracket"></i>
        </div>
    </div>
</div>