:host {
    width: 100%;
    max-height: 100%;
}

.crazy-emoji-categories-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
    padding-bottom: 15px;
}