.crazy-emoji-profile-img-wrapper {
    position: relative;
    width: var(--profile-img-size);
    height: var(--profile-img-size);
    .crazy-emoji-profile-img {
        width: var(--profile-img-size);
        height: var(--profile-img-size);
        border-radius: 100%;
    }
}