.crazy-emoji-master {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    gap: 25px;
    padding: 30px 25px 20px 25px;
    background: var(--crazy-emoji-background-primary);
    box-sizing: border-box;
    overflow: hidden;
    .crazy-emoji-sidebar {
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 100%;
    }
    .crazy-emoji-main {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        overflow: hidden;
        .crazy-emoji-main-content {
            display: flex;
            width: 100%;
            height: 100%;
            margin-top: 20px;
            overflow: hidden;
        }
    }
}