.crazy-emoji-master {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    gap: 25px;
    padding: 30px 25px 20px 25px;
    background: var(--crazy-emoji-background-primary);
    box-sizing: border-box;
    overflow: hidden;
    .crazy-emoji-sidebar {
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 100%;
    }
    .crazy-emoji-main {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        .crazy-emoji-navbar {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            &__left-panel {
                display: flex;
                align-items: center;
                .crazy-emoji-navbar-title {
                    font-family: var(--crazy-emoji-text-font-family);
                    font-weight: 600;
                    font-size: 33px;
                    line-height: 42px;
                    color: var(--crazy-emoji-text-secondary);
                    .crazy-emoji-navbar-title-user-name {
                        color: var(--crazy-emoji-text-primary);
                    }
                }
            }
            &__right-panel {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 10px;
                padding: 7px 10px;
                border-radius: 13px;
                background: var(--crazy-emoji-background-secondary);
                .navbar-btns {
                    display: flex;
                    flex-direction: row;
                    .navbar-btn {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 25px;
                        height: 25px;
                        padding: 5px;
                        border-radius: 100%;
                        transition: background .1s ease-in;
                        &:hover {
                            background: var(--crazy-emoji-btn-background);
                        }
                        .navbar-btn-icon {
                            color: var(--crazy-emoji-text-primary);
                        }
                    }
                }
                .profile-img {
                    position: relative;
                    width: 45px;
                    height: 45px;
                    border-radius: 100%;
                }
            }
        }
        .crazy-emoji-main-content {
            display: flex;
            width: 100%;
            height: 100%;
            margin-top: 20px;
        }
    }
}