.crazy-emoji-master {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    gap: 25px;
    padding: 30px 25px 20px 25px;
    background: var(--crazy-emoji-background-primary);
    box-sizing: border-box;
    overflow: hidden;
    .crazy-emoji-sidebar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        height: 100%;
        .crazy-emoji-sidebar-logout {
            display: flex;
            justify-content: center;
            padding: 31px 22px;
            border-radius: 25px;
            background: var(--crazy-emoji-background-secondary);
            .crazy-emoji-sidebar-logout-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 26px;
                height: 22px;
                font-size: 20px;
                color: var(--crazy-emoji-text-primary);
                transition: color .1s ease-in-out;
                cursor: pointer;
                &:hover {
                    color: var(--crazy-emoji-btn-primary-background);
                }
            }
        }
    }
    .crazy-emoji-main {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        overflow: hidden;
        .crazy-emoji-main-content {
            display: flex;
            width: 100%;
            height: 100%;
            margin-top: 20px;
            overflow: hidden;
        }
    }
}