.crazy-emoji-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    font-family: var(--crazy-emoji-text-font-family);
    font-weight: 600;
    transition: all .15s ease-in-out;

    .crazy-emoji-btn-icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &:disabled {
        pointer-events: none;
    }

    &.default:not(.icon-only) {
        padding: 8px 16px;
    }
    &.outlined:not(.icon-only) {
        padding: 6px 14px;
    }
    &.icon-only.default {
        padding: 8px;
    }
    &.icon-only.outlined {
        padding: 6px;
    }

    &.small {
        &:not(.icon-only) {
            font-size: 15px;
            line-height: 23px;
        }
        .crazy-emoji-btn-icon {
            width: 23px;
            height: 23px;
            font-size: 23px;
        }
    }
    &.medium {
        &:not(.icon-only) {
            font-size: 20px;
            line-height: 30px;
        }
        .crazy-emoji-btn-icon {
            width: 30px;
            height: 30px;
            font-size: 28px;
        }
    }
    &.large {
        &:not(.icon-only) {
            font-size: 25px;
            line-height: 38px;
        }
        .crazy-emoji-btn-icon {
            width: 38px;
            height: 38px;
            font-size: 32px;
        }
    }

    &.corners-default:not(.icon-only) {
        border-radius: 10px;
    }
    &.corners-rounded:not(.icon-only) {
        border-radius: 30px;
    }
    &.icon-only {
        border-radius: 100%;
    }

    &:not(:focus, :focus-visible, .error) {
        box-shadow: 0px 3px 7px 0px #00000040;
    }
    &:focus, &:focus-visible {
        box-shadow: 0px 0px 15px 0px #C23E3E;
        outline: none;
    }
    &.error {
        box-shadow: 0px 0px 10px 0px #E71F1F;
    }

    &.default {
        color: #FFFFFF;
        &.error {
            border: 2px solid #FF0000;
        }
        &:not(.error) {
            border: none;
        }
        &:disabled {
            opacity: 0.4;
        }
        &:not(:hover) {
            background: #C23E3E;
        }
        &:hover {
            background: #AC4444;
        }
    }
    &.outlined {
        background: transparent;
        &:not(:hover, .error) {
            border: 2px solid #C23E3E;
            color: #C23E3E;
        }
        &:hover {
            border: 2px solid #AC4444;
            color: #AC4444;
        }
        &.error {
            border: 2px solid #E71F1F;
            color: #E71F1F;
        }
        &:disabled {
            opacity: 0.5;
        }
    }
}