<button
    class="crazy-emoji-btn"
    [disabled]="disabled"
    [class]="[color, size, type, corners]"
    [class.icon-only]="icon && !text"
    (click)="onClickEvent()">
    @if (icon && !text) {
        <div class="crazy-emoji-btn-icon">
            <i [class]="icon.icon"></i>
        </div>
    }
    @else {
        @if (icon?.position === ComponentIconPosition.Left) {
            <i [class]="icon?.icon"></i>
        }
        @if (text) {
            {{ text }}
        }
        @if (icon?.position === ComponentIconPosition.Right) {
            <i [class]="icon?.icon"></i>
        }
    }
</button>