.crazy-emoji-user-badge {
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 10px;
    padding: 16px 24px;
    margin: 13px;
    border-radius: 50px;
    background: rgba(54, 22, 23, 1);
    user-select: none;
    transition: background .1s ease-in,
                box-shadow .1s ease-in;
    &.clickable:hover {
        background: rgba(72, 28, 30, 1);
        box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.15);
    }
    .crazy-emoji-user-badge-name {
        font-family: var(--crazy-emoji-text-font-family);
        font-weight: 600;
        font-size: 32px;
        line-height: 50px;
        color: var(--crazy-emoji-text-primary);
    }
    .crazy-emoji-user-badge-close-btn {
        position: absolute;
        top: -11px;
        right: -10px;
    }
    &:not(:hover) > .crazy-emoji-user-badge-close-btn {
        visibility: hidden;
        pointer-events: none;
    }
}