.crazy-emoji-number-selector {
    display: flex;
    flex-direction: column;
    gap: 6px;
    .crazy-emoji-number-selector-title {
        width: 100%;
        font-family: var(--crazy-emoji-text-font-family);
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        color: var(--crazy-emoji-text-primary);
    }
    .crazy-emoji-number-selector-contents {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        gap: 27px;
    }
    .crazy-emoji-number-selector-value {
        min-width: 40px;
        padding: 10px;
        border-radius: 10px;
        text-align: center;
        box-shadow: 0px 3px 7px 0px #00000040;
        background: var(--crazy-emoji-background-primary);
        .crazy-emoji-number-selector-value-text {
            font-family: var(--crazy-emoji-text-font-family);
            font-weight: 600;
            font-size: 24px;
            line-height: 40px;
            color: var(--crazy-emoji-text-primary);
        }
    }
}