:host {
    width: 100%;
    height: 100%;
}

.crazy-emoji-waiting-room {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    height: 100%;
    .crazy-emoji-waiting-room-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 27px 50px;
        border-radius: 20px;
        box-sizing: border-box;
        background-color: var(--crazy-emoji-background-secondary);
        .crazy-emoji-waiting-room-header-code {
            display: flex;
            flex-direction: row;
            .crazy-emoji-waiting-room-header-code-title {
                display: flex;
                flex-direction: column;
                gap: 5px;
                width: 316px;
                .crazy-emoji-waiting-room-header-code-title-text {
                    font-family: var(--crazy-emoji-text-font-family);
                    font-weight: 500;
                    font-size: 32px;
                    line-height: 35px;
                    color: var(--crazy-emoji-text-primary);
                }
                .crazy-emoji-waiting-room-header-code-title-text-code {
                    font-family: var(--crazy-emoji-text-font-family);
                    font-weight: 800;
                    font-size: 48px;
                    line-height: 37px;
                    color: #c13d3c;
                }
            }
            .crazy-emoji-waiting-room-header-code-text {
                font-family: var(--crazy-emoji-text-font-family);
                font-weight: 800;
                font-size: 96px;
                line-height: 112px;
                color: #c13d3c;
            }
        }
        .crazy-emoji-waiting-room-header-details {
            display: flex;
            flex-direction: column;
            gap: 10px;
            .crazy-emoji-waiting-room-header-details-row {
                display: flex;
                flex-direction: row;
                gap: 7px;
                .crazy-emoji-waiting-room-header-details-row-text {
                    font-family: var(--crazy-emoji-text-font-family);
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 26px;
                    &.primary {
                        color: var(--crazy-emoji-text-primary);
                    }
                    &.secondary {
                        color: rgba(169, 85, 98, 1);
                    }
                }
            }
        }
    }
    .crazy-emoji-waiting-room-title {
        width: 100%;
        font-family: var(--crazy-emoji-text-font-family);
        font-weight: 700;
        font-size: 64px;
        line-height: 50px;
        color: var(--crazy-emoji-text-primary);
        text-align: center;
    }
    .crazy-emoji-waiting-room-joined-users {
        display: flex;
        width: 100%;
        height: 100%;
    }
}