:host {
    position: relative;
    width: 100%;
}

.crazy-emoji-category-carousel-container {
    display: flex;
    flex-direction: row;
    position: relative;
    .crazy-emoji-category-carousel-btn {
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        bottom: 20px;
        z-index: 2;
        //background: red;
        &.left {
            left: 0;
            padding-left: 10px;
        }
        &.right {
            right: 0;
            padding-right: 10px;
        }
    }
    .crazy-emoji-category-carousel {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 30px;
        width: 100%;
        z-index: 1;
        padding-bottom: 20px;
        overflow: hidden;
        app-category-widget.disabled {
            opacity: .1;
            pointer-events: none;
        }
    }
}