@import '@angular/cdk/overlay-prebuilt.css';
@import '@ctrl/ngx-emoji-mart/picker';

body {
    border: 0;
    margin: 0;
    padding: 0;

    --crazy-emoji-background-primary: #61272D;
    --crazy-emoji-background-secondary: #361617;

    --crazy-emoji-text-primary: #FFFFFF;
    --crazy-emoji-text-secondary: #A6525B;
    --crazy-emoji-text-secondary-hover: #b1616a;
    --crazy-emoji-text-font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, "Segoe UI", sans-serif;

    --crazy-emoji-btn-primary-background: #C23E3E;

    --crazy-emoji-alert-background: #242C32;
    --crazy-emoji-alert-subtitle: #C8C5C5;
    --crazy-emoji-icon-background: #303746;
    --crazy-emoji-icon-hover-background: #40495d;
    --crazy-emoji-alert-icon-error: #F04248;
    --crazy-emoji-alert-timer-error: #F04349;
    --crazy-emoji-alert-icon-success: #00DF80;
    --crazy-emoji-alert-timer-success: #01E17B;
    --crazy-emoji-alert-icon-warning: #FFD21E;
    --crazy-emoji-alert-timer-warning: #FFD21F;

    --crazy-emoji-profile-online: #87BD6E;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}